<div class='row'>
  <h1>Safety Data Sheets</h1>
</div>

<div class='row'>
  <% @data_sheets.each do |data_sheet| %>
    <div class='small-6 columns'>
      <%= data_sheet.name %>
    </div>
    <div class='small-6 columns'>
      <%= data_sheet.description %>
    </div>
  <% end %>
</div>
