<div class='row'>
  <div class='small-12 columns'>
    <h2>Safety Data Sheets</h2>
  </div>
</div>

<ul>
  <% @data_sheets.each do |data_sheet| %>
    <div class='row'>
      <div class='small-12 columns'>
        <li>
          <a href=<%= "#{data_sheet.sds}" %>><%= data_sheet.name %></a>
          <%= data_sheet.description %>
        </li>
      </div>
    </div>
  <% end %>
</ul>
