<div class='row'>
  <div class='small-12 columns'>
    <h2>Department List</h2>
  </div>
</div>

<% @departments.each do |department| %>
  <p>
    <div class='row'>
      <div class='small-12 medium-6 large-8 columns'>
        <%= link_to department.name, company_department_path(params[:company_id], department) %>
      </div>
    </div>
  </p>
<% end %>

<div class='row'>
  <div class='small-12 columns'>
    <%= link_to 'Add New Department', new_company_department_path %>
  </div>
</div>
