<div class='row'>
  <div class='small-12 columns'>
    <h2><%= @department.name %></h2>
  </div>
</div>

<% if current_user.role == 'admin' || current_user.role == 'owner' %>
  <div class='row'>
    <div class='small-12 columns'>
      <ul class='button-group round'>
        <li><%= link_to 'Edit Department', edit_company_department_path, class: 'tiny button' %></li>
        <li><%= link_to 'Delete Department', company_department_path, data: { confirm: 'Are you sure?' }, method: :delete, class: 'tiny button' %></li>
      </ul>
    </div>
  </div>
<% end %>
