<div class='row'>
  <div class='small-12 columns'>
    <h2>Company List</h2>
  </div>
</div>

<ul>
  <% @companies.each do |company| %>
    <div class='row'>
      <div class='small-12 columns'>
        <li>
          <%= link_to company.name, company_path(company) %></a>
        </li>
      </div>
    </div>
  <% end %>
</ul>
