<div class='row'>
  <div class='small-12 columns'>
    <h2>Company List</h2>
  </div>
</div>

<% @companies.each do |company| %>
  <p>
    <div class='row'>
      <div class='small-12 medium-6 large-8 columns'>
        <%= link_to company.name, company_path(company) %>
      </div>
      <div class='small-12 medium-3 large-2 columns'>
        <%= link_to 'Edit company', edit_company_path(company), class: 'tiny button radius' %>
      </div>
      <div class='small-12 medium-3 large-2 columns'>
        <%= link_to 'Delete Company', company_path(company), data: { confirm: 'Are you sure?' }, method: :delete, class: 'tiny button radius' %>
      </div>
    </div>
  </p>
<% end %>
