<div class='row'>
  <div class='small-12 columns'>
    <h2><%= @company.name %></h2>
  </div>
</div>

<div class='row'>
  <div class='small-6 columns'>
    <%= link_to 'Edit company', edit_company_path %>
  </div>
  <div class='small-6 columns'>
    <%= link_to 'Delete Company', company_path, method: :delete %>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>
    <%= link_to 'Add a New Data Sheet', new_company_data_sheet_path(@company.id) %>
  </div>
</div>
