
.top-bar,
.top-bar-section ul.left li,
.top-bar-section ul.right li:not(.has-form) a:not(.button) {
  background: #008CBA;
}

footer {
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
}

fieldset {
  background-color: #FFFFFF;
  margin: 10%;
}

fieldset legend {
  background-color: transparent;
}

.box {
  background-color: #FFFFFF;
  border: 5px double #008CBA;
  padding: 1px 0pt 1px 1%;
}

.alert-box {
  margin: 1%;
}

.notice {
  background-color: #43AC6A;
  border-color: #43AC6A;
}
